* {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Home section */

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)) ,url(photos/home-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: flex-start;
}

.logo {
    width: 120px;
    height: auto;
    
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 40px;
    padding-top: 40px;
}

.nav-menu li {
    list-style-type: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 120px;
    text-shadow: 2px 0px 16px rgba(0, 0, 0, 0.5);

}

.left{
    max-width: 800px;
}

.heading {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 90px;
    font-weight: 910;
    line-height: 1em;
    letter-spacing: 4px;
}


.subheading {
    padding-top: 10px;
    font-size: 32px;
    font-weight: 600;
    color: #DBE8E1;
    
}

.right {
    max-width: 400px;
    padding-right: 60px;
    margin-left: auto;
}

.right p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.4em;
    color:white;
    font-size: 20px;
}

.event-details {
    padding: 40px;
    font-weight: bold;
}

button {
    padding: 20px;
    border-style: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    background-color: #E10032;
    box-shadow: 4px 0px 30px rgba(255, 255, 255, 0.3);
}

/* Program section */
.program {
    display: flex;
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 100px;
    gap: 80px;
    justify-content: space-between;
    background-color: whitesmoke;
}

.program-pic {
    width: 540px;
}

.pg.heading {
    color: #151B25;
}

.pg.subheading {
    padding-top: 20px;
    color: #034687;
    font-size: 36px;
    font-weight: bold;
}

.program-text {
    max-width: 500px;
}

.program-text p {
    padding-top: 40px;
    font-size: 18px;
}

.program-text button {
    margin-top: 40px;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Speakers section */
.speaker {
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #E10032;
    text-align: center;
}

.speaker .subheading {
    padding-top: 30px;
    color: #151B25;
}

.all-speakers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.all-speakers img {
    width: 300px;
    padding: 20px;
    border-radius: 50%;
}

.all-speakers div {
    text-align: center;
    color: white;
    font-size: 14px;
    padding-bottom: 5px;
}

div .name {
    font-size: 20px;
    font-weight: bold;
}

/* Pricing section */
.pricing {
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 100px;
    background-color: #151B25;    
}

.pricing-text {
    display: flex;
    justify-content: space-between;
}

.pricing-text .left .subheading {
    padding-top: 30px;
}

.features {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.4em;
    color:white;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
}

.pricing-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
}

.left-card,
.middle-card,
.right-card {
    width: 280px;
    padding: 40px;
    background-color: #DBE8E1;
    border-radius: 10%;
    box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.8);
}

.type,
.price {
    font-size: 24px;
    font-weight: bold;
}

.price {
    padding-top: 10px;
}

.details{ 
    padding-top: 20px;
    line-height: 1.6em;
}

.pricing-cards button {
    margin-top: 40px;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.2)
}


/* Footer */

.footer {
    background-color:#E10032;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

.footer logo {
    width: 150;
}

.footer div {
    font-size: 24px;
    font-weight: 300;
}